/* css reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}
/* Set core body defaults */
body {
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	color: currentColor;
	text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
	display: block;
	max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
textarea {
	resize: none;
}
/* Scroll behaviours */
html {
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: reduce;
	}
}

/* custom properties */
:root {
	/* --clr-background: hsl(115, 45%, 32%); */
	--clr-soft-orange: hsl(35, 77%, 62%);
	--clr-red: hsl(5, 85%, 63%);
	--clr-off-white: hsl(36, 100%, 99%);
	--clr-gray-blue: hsl(233, 8%, 79%);
	--clr-dark-gray-blue: hsl(236, 13%, 42%);
	--clr-very-dark-blue: hsl(240, 100%, 5%);
	--fs-paragraph: 0.938rem;
	--fw-light: 400;
	--fw-med: 700;
	--fw-bold: 800;
	--margin-border: 15rem;
}
/* grid setup */
.body-container {
	display: grid;

	grid-template-columns: [main-start] 2fr [main-end aside-start] 1fr [aside-end];

	grid-template-rows: [section-one-start]auto[section-one-end section-two-start]auto[section-two-end];
}

/* utility classes */

.nav-bar__button {
	text-decoration: none;
	color: var(--clr-gray-blue);
}
.nav-bar__button:hover {
	color: var(--clr-red);
}

.main-article {
	grid-column: main-start / main-end;
	grid-row: section-one-start / section-one-end;
}

.aside-container {
	grid-column: aside-start / aside-end;
	grid-row: section-one-start / section-one-end;
}

.articles-container {
	grid-column: main-start / aide-end;
	grid-row: section-two-start / section-two-end;
}

/* header classes */

.header {
	display: flex;
	justify-content: space-between;
	margin: 3rem var(--margin-border);
}

.nav-bar--desktop {
	display: flex;
	gap: 3rem;
	align-items: center;
}

/* desktop nav */

.hamburger-btn {
	display: none;
	background: none;
	border: none;
}

.nav-bar__button--desktop {
	text-decoration: none;
}

.nav-bar__button--desktop:hover {
	color: var(--clr-red);
}

/* mobile nav */

.nav-bar--mobile,
:popover-open {
	flex-direction: column;
	gap: 2rem;
	position: fixed;
	/* need inset rule to allow position to work */
	inset: unset;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	border: 0;
}

.nav-bar--mobile {
	animation: vanish 0.3s;
	display: none;
}

:popover-open {
	animation: appear 0.3s;
	display: flex;
}

:popover-open::backdrop {
	background-color: black;
	opacity: 0.2;
}

.close-button {
	align-self: flex-end;
	background: 0;
	border: 0;
	margin: 1rem;
}

.nav-bar__button--mobile {
	text-decoration: none;
	color: var(--clr-very-dark-blue);
	margin: 0 1rem;
	font-size: 1.25rem;
	font-weight: var(--fw-light);
}

/* main article */

.main-article {
	margin: 0 2rem 0 var(--margin-border);
}

.main-article-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.main-article__headline {
	font-weight: 800;
	font-size: 3.5rem;
	margin-top: 2rem;
	max-width: 10ch;
}
.main-article__descrpition {
	font-size: var(--fs-paragraph);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1rem;
	color: var(--clr-dark-gray-blue);
	max-width: 40ch;
	line-height: 1.75;
}

.read-more-button {
	width: fit-content;
	padding: 0.75rem 2.25rem;
	border: 0;
	background-color: var(--clr-red);
	color: var(--clr-very-dark-blue);
	letter-spacing: 3px;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	font-weight: var(--fw-med);
}

.read-more-button:hover {
	background-color: var(--clr-very-dark-blue);
	color: var(--clr-off-white);
}

/* aside */

.aside-container {
	background-color: var(--clr-very-dark-blue);
	padding: 0 1rem;
	margin-right: var(--margin-border);
	display: grid;
}

.aside__title {
	color: var(--clr-soft-orange);
	font-weight: var(--fw-med);
	font-size: 3rem;
	align-self: center;
	margin-top: 1rem;
	margin-left: 1rem;
}

.aside-card {
	border-bottom: 1px solid var(--clr-gray-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.aside-card:last-of-type {
	border-bottom: 0;
}

.aside-card__title {
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
	font-weight: var(--fw-med);
	transition: color 0.15s ease-in-out;
}

.aside-card__title:hover {
	color: var(--clr-soft-orange);
}
.aside-card__text {
	color: var(--clr-gray-blue);
	font-size: var(--fs-paragraph);
	margin-top: 0;
	max-width: 35ch;
}

/* article section */

.articles-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
	margin: 2rem var(--margin-border);
}

.article-card__text {
	max-width: 23ch;
}

.article-card {
	display: flex;
}

.article-card > img {
	/* max-height: 125px; */
	margin-right: 1.5rem;
}

/* media queries */

@media (max-width: 800px) {
	.nav-bar__button--desktop {
		display: none;
	}

	.hamburger-btn {
		display: block;
	}
}

/* Animations */

@keyframes appear {
	from {
		transform: translateX(+250px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes vanish {
	from {
		transform: translateX(0px);
		display: flex;
		opacity: 1;
	}
	to {
		transform: translateX(+250px);
		display: none;
		opacity: 0;
	}
}
